# >>> aws s3 cli initialize >>>

autoload -Uz compinit && compinit

# zsh 5.0.2 (x86_64-redhat-linux-gnu) not support this option
# setopt GLOBSTARSHORT

for fun in PWD/**/*.zsh; do
    . "${fun}"
done

# <<< aws s3 cli initialize <<<